body {
  margin-top: 70px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
#content {
  margin-top: 20px;
}
.badge {
  font-weight: normal;
}
.page-title {
  margin-top: 0;
}
.category {
  margin-bottom: 10px;
}
.badges .badge {
  margin-right: 5px;
}
.search-form input {
  max-width: 300px;
  margin: 0 10px 10px 0;
}