extends ../layout

block content
  div.row
    div.col-xs-12
      ol.breadcrumb
        li
          a(href='/') Home
        li
          a(href='/news') News
        li.active #{newsObject.title}
  div.row
    div.col-xs-12
      div.panel.panel-primary
        div.panel-heading
          h2.page-title #{newsObject.title}
        div.panel-body
          div.badge.category Category&nbsp;
            b #{newsObject.category}
          div #{newsObject.content}