doctype html
html
  head
    title= title
    link(rel='stylesheet', href='libraries/bootstrap-3.3.6/css/bootstrap.min.css')
    link(rel='stylesheet', href='libraries/bootstrap-3.3.6/css/bootstrap-theme.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')

  body
    // Fixed navbar
    nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/') NEWS ENGINE
        .navbar-collapse.collapse
          ul.nav.navbar-nav
            li
              a(href='/') Home
            li
              a(href='/news') News
    .container
      block content

  script(src='libraries/bootstrap-3.3.6/js/bootstrap.min.js')
